* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  color: #222;
}

/* Header */
.top-header {
  background: linear-gradient(90deg, #1f1c3c, #3b3b98);
  padding: 25px 40px;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.logo {
  font-size: 34px;
  font-style: italic;
  font-weight: 600;
  color: #c7d4ff;   /* soft bluish tone */
  letter-spacing: 1px;
}



.header-text {
  text-align: center;
  flex: 1;
}

.header-text h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.header-text p {
  font-size: 14px;
  opacity: 0.9;
}


/* Navbar */
nav {
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  background: #ffccaa;
  color: black;
}

/* Profile picture */
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 2px solid #333;
}

/* Content Box */
.section-box {
  background: white;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.section-box h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #5a7cff;
  padding-bottom: 10px;
}

.section-box p,
.section-box li {
  margin-bottom: 10px; 
  line-height: 1.6;
}

/* Footer */
footer {
    background: #1f2a44;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
